<br />
<br />
<br />
<h2>Clientes</h2>
<p>Seleccione un cliente para hacer el pedido.</p>
<table id="noRecordsFound" class="table table-striped table-bordered"
  style="display: none;">
  <thead>
    <tr>
      <th>No hay clientes</th>
    </tr>
  </thead>
</table>
<div id="repeatModel">
<table class="table table-striped">
  <thead>
    <tr>      
      <th>Seleccionar cliente</th>
      <th>Nombre del cliente</th>
      <th>Limite</th>
      <th>Ruta</th>      
    </tr>
  </thead>  
  <tbody id="bodyTable">    
  </tbody>
</table>

</div>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orders/clients.functions.js"></script>

<script type="text/javascript" charset="utf-8"
  src="file:///android_asset/www/js/views/orders/clients.init.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orders/clients.bind.js"></script>
