<div class="page-header">
	<br /> 
	<br />
	<h2>Sub-Menú Pedidos</h2>
	<small>Selecciona tú opearación.</small>
</div>



<ul class="nav nav-tabs nav-stacked">	
	<li><a href="#" id="newOrders"><i
			class="icon-chevron-right"></i>Nuevo Pedido</a></li>
	<li><a href="#" id="checkOrders"><i
			class="icon-chevron-right"></i>Consultar Pedidos</a></li>
</ul>
<footer class="footer">
    <div class="container">        
        <p>Preciona la flecha para volver a la pantalla principal</p>
    </div>
</footer>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orders/orders.global-variables.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orders/index.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orders/index.init.js"></script>
