<h2><a href="#">Inicio de sesión</a></h2>
<h4 class="subheader">Ingresa tus datos.</h4>
<form>
	<div class="row">
		<div class="span12">
			<label id="errorLabelLogInEmail" for="LogInEmail">Correo electrónico:</label><input class="span12" type="email" name="LogInEmail" id="LogInEmail" /><small class="error" id="errorMsgLogInEmail" style="display:none;"></small>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<label id="errorLabelLogInPassword" for="LogInPassword"> Contraseña: </label> <input class="span12" type="password" name="LogInPassword" id="LogInPassword" /> <small class="error" id="errorMsgLogInPassword" style="display:none;"></small><br>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<label for="rememberMe" class="checkbox"><input type="checkbox" id="rememberMe"> Recordarme</label>
		</div>
	</div>
</form>

<script src="file:///android_asset/www/js/views/login/index.bind.js"></script>
<script src="file:///android_asset/www/js/views/login/index.functions.js"></script>
<script src="file:///android_asset/www/js/views/login/index.init.js"></script>