<section id="top">
	<blockquote>
  		<h2>Plan de <i id="manualTitle"></i></h2>
  		<h3 id="planTitle"></h3>
	</blockquote>
	<a href="#procedureButton">Ir a procedimientos</a>
</section>
<br />
<p id="planHTML"></p>
<br />
<section id="procedureButton">
<hr>
<br />
	<a href="javascript:window.scrollTo(0,0);">Ir arriba ↑</a>
	<h3>Procedimientos</h3>
	<table id="noRecordsFound" class="table table-striped table-bordered" style="display: none;">
		<thead>
			<tr>
				<th>Sin procedimientos</th>
			</tr>
		</thead>
	</table>
	<table data-bind='visible: procedureArray().length > 0' 
		class="table" style="display: none;">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody data-bind='foreach: procedureArray'>
			<tr>
				<td>
					<div class="">
						<button class="btn btn-default btn-lg btn-block" type="button"
							data-bind="click: $root.detailDocumentProcedure, id: id, uniqueName: true">
							<i data-bind="text: number"></i>.<i data-bind="text: title"></i>(<i data-bind="text: code"></i>) V.<i data-bind="text: version"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</section>
<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/documents.globalvariables.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailPlan.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailPlan.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailPlan.init.js"></script>