<section id="top">
	<blockquote>
  		<h2>Requerimiento de <i id="procedureTitle"></i></h2>
  		<h3 id="requirementTitle"></h3>
	</blockquote>
</section>
<br />
<p id="requirementHTML"></p>
<br />
<a href="javascript:window.scrollTo(0,0);">Ir arriba ↑</a>
<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/documents.globalvariables.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailRequirement.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailRequirement.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/documents/detailRequirement.init.js"></script>