<button type="button" class="btn btn-primary" id="syncProducts">Sincronizar</button>
<a href="#helpYearly"  role="button" class="btn btn-inverse pull-right" data-toggle="modal" id="getHelp"><i class="icon-info-sign icon-white"></i></a>
<a href="#" id="getHomePhone"><img alt="" class="hidden-tablet hidden-desktop visible-phone" style="" src="../../content/css/images/logo.min.png"></a>
<a href="#" id="getHomeTablet"><img alt="" class="visible-tablet visible-desktop hidden-phone" style="" src="../../content/css/images/logo.png"></a>