<H2>Cobranzas</H2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Cantidad</th>
			<th>Factura</th>
			<th>Fecha</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Juan López</th>
			<th>$2440</th>
			<th>3442</th>
			<th>26/11/2014</th>
		</tr>
	</tbody>
</table>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/clients/collect.functions.js"></script>

<script type="text/javascript" charset="utf-8"
  src="file:///android_asset/www/js/views/clients/collect.init.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/clients/collect.bind.js"></script>

