<br />
<br />
<br />
<h2>¡Bienvenido <b id="nameSeller"></b>!</h2>
<h2>Clientes</h2>
<table id="noRecordsFound" class="table table-striped table-bordered"
  style="display: none;">
  <thead>
    <tr>
      <th>No hay clientes</th>
    </tr>
  </thead>
</table>
<button class="btn btn-primary" id="synclients">Sincronizar clientes</button>
<div id="repeatModel">
<table class="table table-striped" data-bind='visible: clients().length > 0'>
  <thead>
    <tr>
      <th>Clave del cliente</th>
      <th>Nombre del cliente</th>
      <th>Dirección</th>
      <th>Población</th>
      <th>Entidad</th>
      <th>Colonia</th>
      <th>C.P.</th>      
      <th>Límite</th>
      <th>Ruta</th>
      <th>Activo</th>
      <th>Última visita</th>
    </tr>
  </thead>  
  <tbody data-bind="foreach: clients">
    <tr>      
      <td><p data-bind="text: IdClient"></p></td>
      <td><p data-bind="text: nameClient"></p></td>
      <td><p data-bind="text: direction"></p></td>
      <td><p data-bind="text: poblation"></p></td>
      <td><p data-bind="text: entity"></p></td>
      <td><p data-bind="text: colony"></p></td>
      <td><p data-bind="text: cp"></p></td>      
      <td><p data-bind="text: limit"></p></td>
      <td><p data-bind="text: route"></p>      </td>
      <td><span data-bind="visible: Active" class="glyphicon glyphicon-ok"></span></td>
      <td><b data-bind="text: timestamp"></b></td>
    </tr>
  </tbody>

</table>

</div>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/initial_configuration/clients.functions.js"></script>

<script type="text/javascript" charset="utf-8"
  src="file:///android_asset/www/js/views/initial_configuration/clients.init.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/initial_configuration/clients.bind.js"></script>
