<br />
<br />
<br />
<div class="cold-md-12">
	<div class="page-header">
		<h2>Bienvenido "ABASTOSAPP"</h2>
	</div>


<p>Para usar el sistema es necesario leer la siguiente
	documentación y aceptar los acuerdos que en ellos se establecen.</p>
<p>
<b>Nota: Al presionar el botón "Acepto" estarás aceptando dichos
	acuerdos.</b>
</p>
<br />
	<button id="showTermsOfUse" class="btn btn-default btn-lg btn-block">1.- Términos de uso</button><br />
	<button id="showPrivacyPolicy" class="btn btn-default btn-lg btn-block">2.- Políticas de privacidad</button>
</div>


<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/contract.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/contract.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/contract.init.js"></script>
