<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../../content/css/foundation.min.css" />

<script src="../../js/core/jquery-1.8.3.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/jquery.validate.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/jquery.placeholder.min.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/foundation.min.js"></script>

<script src="../../js/core/jquery-ui-1.9.2.custom.min.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/jquery.ui.datepicker-es.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/knockout-2.1.0.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/core/cordova-2.2.0.js"></script>

</head>
<body>
	<form class="custom">
		<div data-role="page">
			<div class="container">

				<section id="step0">
				<div class="row">
					<div class="twelve columns">
						<img alt="" style="" src="../../content/css/images/logo.png">
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<h3>Bienvenido</h3>

						<blockquote>
							<p>
								Para usar el sistema es necesario leer la siguiente
								documentación y aceptar los acuerdos que en ellos se establecen.
								<cite><b>Nota</b>: Al presionar el botón "Acepto los
									términos de uso y políticas de privacidad" estarás aceptando
									dichos acuerdos.</cite>
							</p>
						</blockquote>

						<dl class="vertical tabs">
							<dd>
								<a href="#" id="showTermsOfUse">1.- Términos de uso</a>
							</dd>
							<dd>
								<a href="#" id="showPrivacyPolicy">2.- Políticas de
									privacidad</a>
							</dd>
						</dl>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="twelve columns ">
						<ul class="button-group radius right">
							<li><a href="#" class="secondary button radius"
								id="cancelAll">No acepto</a></li>
							<li><a href="#" class="button radius" id="startWizard">Acepto
									los términos de uso y políticas de privacidad</a></li>
						</ul>
					</div>
				</div>
				</section>

				<section id="termsOfUse" style="display:none;"> <header
					id="header" class="row">
				<div class="twelve columns">
					<h1>
						<a href="#">Términos de uso</a>
					</h1>
					<h4 class="subheader">Aviso legal</h4>
				</div>
				</header>
				<div class="row">
					<div class="twelve columns">
						<p>
							Las presentes condiciones generales regulan el uso y acceso al
							sistema de Tsándu Software Development (en adelante "la Empresa")
							y la oferta y adquisición de productos y servicios de la Empresa,
							disponible para los usuarios de Tcertifica Android ("este
							programa"). La Empresa fue constituida por tiempo indefinido con
							domicilio social en Uruapan, Michoacán, México. El uso del
							programa y la adquisición de cualquier producto o servicio por
							parte de cualquier usuario significan la plena aceptación de
							cualquier condición específica publicada en el programa. A tal
							efecto se recomienda al usuario leer atentamente las condiciones
							e instrucciones expuestas en el programa cada vez que acceda a
							las mismas. La Empresa se reserva el derecho a modificar o
							suprimir en cualquier momento y sin previo aviso los contenidos,
							servicios e informaciones que se encuentran en este programa, así
							como a limitar, modificar o cancelar los términos y condiciones
							generales aplicables al programa. Cualquier modificación tendrá
							vigencia a partir de la fecha de publicación de la misma y
							comprometerá a cualquier usuario que tiene acceso al programa
							después de su publicación. Para cualquier información sobre la
							empresa o sus productos y servicios, por favor, contáctanos en: <a
								class="button"
								href="mailto:info@tcertifica.com?Subject=Información sobre Tsándu Software Development y Tcertifica">info@tcertifica.com</a>
						</p>

						<h2>A. Objetivo</h2>
						<p>TCERTIFICA es tiene como objetivo ser una herramienta de
							apoyo que muestre las actividades necesarias para el
							aseguramiento de certicados en Sanidad, Inocuidad y Calidad de
							AGUACATES de mercados nacionales e internacionales. El objeto de
							estos términos y condiciones es regular el uso del programa y la
							adquisición y la disposición de los productos, de los servicios,
							del contenido y de las herramientas proporcionados por la
							compañía a los usuarios vía este programa, ya sean ofrecidos a un
							coste o gratis, o bajo una licencia de código libre (de acuerdo
							con los términos legales específicos aplicables y los acuerdos de
							licencia legales del usuario final que corresponden a los
							productos, a los servicios, al contenido y/o a las herramientas
							disponibles en este programa).</p>
						<h2>B. Uso general del programa</h2>
						<h5 class="subheader">Condiciones de utilización para el
							usuario</h5>

						<p>
							Los usuarios pueden tener acceso y ver el contenido de este
							programa gratuitamente, conforme a estos términos y a cualquier
							término específico descrito en cada contenido, producto o
							servicio. Para recibir ciertos servicios, el acceso a ciertas
							áreas del programa puede requerir completar un formulario
							específico de datos - los campos marcados con un asterisco
							indican que es obligatorio completar los datos. Si esos datos no
							se proporcionan, la empresa se reserva el derecho de no
							proporcionar el servicio. El usuario garantiza que cualquier dato
							que proporcione es completo y exacto, y será responsable de
							cualquier datos falsos o inexacto. Los datos personales serán
							procesados de acuerdo con nuestra <a href="#" id="privacy"
								class="button">Política de privacidad</a> . El usuario se
							compromete a hacer un uso adecuado, correcto y lícito de los
							contenidos y servicios del programa. Quedan estrictamente
							prohibidas las actividades ilegales, ilícitas o contrarias a la
							buena fe y al orden público; y en general, toda conducta que
							atente, induzca o pueda atentar contra el respeto a la dignidad
							humana y al principio de no discriminación por motivos de raza,
							sexo, religión, opinión, nacionalidad o cualquier otra
							circunstancia personal o social; contra la protección de la salud
							pública y de los consumidores y usuarios; o la protección de la
							juventud y de la infancia. Asimismo queda prohibida toda
							actividad dirigida a suplantar a cualquier persona o entidad, o a
							interferir, violar, alterar o desconectar el sistema, servidores,
							redes o contenidos, así como, incumplir cualquier requisito de
							conexión. La Empresa se reserva el derecho a excluir al usuario
							del servicio sin previo aviso, y a adoptar cuantas medidas
							considere oportunas en cada momento, a fin de evitar las
							conductas y actividades indicadas.
						</p>

						<h5 class="subheader">Propiedad Intelectual e Industrial</h5>
						<p>
							<b>Derechos de Propiedad Intelectual.</b> Con independencia de
							las obras en dominio público o las licencias libres o abiertas
							para aquellos contenidos que, en su caso, les sean aplicables, se
							advierte expresamente que todos los elementos del programa están
							sujetos a derechos de propiedad intelectual o industrial. El
							contenido, códigos fuente, forma, diseño y denominación de los
							productos, aplicativos, herramientas, páginas, marcas, nombres
							comerciales, logotipos, imágenes, sonidos y gráficos, incluido el
							copyright, son propiedad o han sido cedidos u objeto de licencia
							a favor de la Empresa, por lo que la autoría y el derecho de
							explotación en todos sus términos y modalidades se hallan
							protegidos por las leyes mercantiles y penales vigentes, cuya
							infracción, constituye una actividad ilícita o delictiva. A menos
							que se indique lo contrario, el usuario deberá abstenerse de
							efectuar la reproducción, adaptación, combinación o integración
							en otras aplicaciones, arreglos o cualquier otra manipulación o
							transformación, así como cualquier forma de comunicación pública
							o distribución, en relación con todos los contenidos accesibles a
							través del programa, salvo lo dispuesto en la correspondiente
							licencia libre o abierta o autorización expresa de la Empresa.
						</p>
						<p>
							<b>Licencia.</b> La Empresa distribuye el software Tcertifica
							gratuitamente. Excepto como se especifica en la sección legal de
							este programa, la Empresa no concede ninguna licencia o
							autorización de uso de ninguna clase sobre sus derechos de
							propiedad industrial e intelectual o sobre cualquier derecho o
							propiedad relacionados con el programa, los servicios o los
							contenidos. A título excepcional, el usuario podría ver, imprimir
							y copiar contenido de este programa para propósitos personales o
							de información únicamente, quedando completamente prohibido
							cualquier uso comercial que no tenga como fin la contratación de
							servicios con la Empresa. Incluso para uso privado, en ninguna
							circunstancia los usuarios pueden descargar, hacer copias o
							transferir los contenidos a cualquier soporte, con o sin
							alteración o modificación, de cualquier manera que se altere,
							omita, agregue, distorsione, modifique o contradiga los mensajes
							o la información mostrados y provistos por la Empresa según lo
							sostenido en su programa o registros de datos.
						</p>
						<p>
							<b>Enlaces.</b> Aquellas interfaces que establezcan hiperenlaces
							("hyperlinks") con otras interfaces del presente programa de la
							Empresa deberán abstenerse de reproducir dichas interfaces.
							Quedan expresamente prohibidos los enlaces marco, los enlaces
							profundos y los enlaces de imagen o cualesquiera otros que puedan
							atentar contra los derechos propietarios de la Empresa, tales
							como serían la competencia desleal, la publicidad ilícita, los
							derechos de propiedad intelectual e industrial, los derechos de
							imagen, el honor, y la reputación comercial o similares.
							Igualmente, deberán abstenerse de utilizar signos distintivos,
							nombres comerciales, rótulos, informaciones o cualquier otro
							contenido propio del programa, salvo la indicación que forme
							parte del propio enlace ("link") y siempre que ello esté amparado
							legal y/o contractualmente, especialmente, en los casos de
							confusión o asociación. En ningún caso se podrá dar a entender ni
							declararse que la Empresa ha autorizado, interviene, asume,
							participa o ha supervisado en forma alguna los contenidos de la
							interfaz en la que figure el hiperenlace, metaetiqueta, palabra
							clave o similares, ni tan siquiera que consiente la propia
							inclusión de éstos, salvo autorización expresa.
						</p>

						<p>
							<b>Información de marca.</b> Tcertifica, "Certifica tu
							producción", los logos Tcertifica y/o otros signos distintivos de
							Tcertifica mencionados en este programa son marcas registradas de
							la Empresa. Los nombres de otras sociedades y productos
							mencionados en este programa pueden ser marcas de sus
							correspondientes titulares.
						</p>
						<p>En particular:</p>
						<ul class="disc">
							<li>Agroquímicos de América, es marca registrada.</li>
							<li>Android es una marca registrada de Google Inc.</li>
							<li>Google Play es una marca registrada de Google Inc.</li>
						</ul>
						<h2>C. Google Play</h2>

						<p>
							<b>Obligaciones del usuario.</b> El usuario se compromete a:
							<ul class="disc">
							<li>Satisfacer las obligaciones establecidas en estos
								términos y condiciones, así como las condiciones específicas
								establecidas en el programa en lo referente a los productos, a
								los servicios, al contenido y a las herramientas ofrecidos por
								la Empresa.</li>
							<li>Utilizar los productos, los servicios, el contenido y
								las herramientas de acuerdo con las especificaciones presentadas
								en estas condiciones y solamente para los propósitos
								establecidos en el acuerdo de licencia del usuario final.</li>
							<li>El usuario será responsable de los mensajes que él
								componga y envíe, así como los datos que proporcione.</li>
						</ul>
						</p>
						<p>
							<b> Precios.</b> Los precios y las tarifas que corresponden a la
							compra de productos y de servicios del usuario serán los que
							aparecen Google Play en el momento en el que el usuario inicie el
							proceso de compra del producto o del servicio. Asimismo, las
							condiciones referentes a impuestos quedarán especificados en la
							página correspondiente de Google Play. Si el producto o el
							servicio contratado por el usuario necesita ser entregado
							físicamente, los costes de envío pueden variar según la
							localización geográfica de la entrega y serán cubiertos por el
							usuario. La Empresa se reserva el derecho a modificar las tarifas
							y la lista de precios publicados en Google Play. En ningún caso,
							cualquier cambio no se aplicarán a los productos y a los
							servicios contraídos antes de la modificación, a excepción de los
							conceptos relacionados con la renovación de productos y/o de
							servicios. Los métodos de pago para los servicios se
							especificarán en las condiciones correspondientes cuando se
							contraten y estarán siempre disponibles para el usuario antes de
							que sea contratado. La Empresa se reserva el derecho de cancelar
							los servicios contratados por el usuario en caso de que éste no
							respete los métodos de pago estipulados, o no pague los productos
							y/o los servicios.
						</p>

						<h2>D. Responsabilidad</h2>
						<p>
							La Empresa no asume ninguna responsabilidad derivada de la
							utilización por parte del usuario de los contenidos del programa
							de la Empresa ni de los contenidos y opiniones de terceros
							vertidos en su programa. La Empresa no garantiza al usuario la
							disponibilidad, acceso o continuidad en el funcionamiento del
							programa y en el suministro de información o cualquiera de los
							distintos servicios o productos ofrecidos a través del mismo. En
							consecuencia, la Empresa y cualquier posible proveedor de
							contenidos no serán responsables en caso de que existan
							interrupciones del servicio, demoras, mal funcionamiento, y en
							general, cualquier inconveniente que tenga su origen en causas
							que escapan del control de la Empresa o los proveedores, o
							provenga de una actuación dolosa o culposa del usuario, o fuerza
							mayor. La Empresa tampoco garantiza la utilidad, obtención de
							resultados o infalibilidad de los contenidos facilitados a través
							del programa, que en todo caso lo son con carácter orientativo e
							informativo. Dicha información se ha obtenido de fuentes
							consideradas razonablemente fiables, pero no deben presumirse en
							todo caso infalibles, debiendo en su caso ser contrastados con
							otras fuentes, previo adoptar cualquier estado de opinión o
							decisión por parte del usuario. Especialmente, teniendo en cuenta
							que, la Empresa, no controla, monitoriza, ni se puede hacer
							responsable de los contenidos de terceros, especialmente los
							dinámicos o cambiantes en el tiempo de los enlaces que, en su
							caso, estén incluidos en el presente programa. Cuantas opiniones,
							medidas, descargas o actuaciones de cualquier tipo sean adoptadas
							por el usuario, lo serán de su exclusiva cuenta y riesgo. La
							Empresa no asume ninguna responsabilidad derivada de la
							utilización por parte del usuario de los contenidos del programa
							de la Empresa ni de los contenidos y opiniones de terceros
							vertidos en su programa, reservándose el derecho a modificar,
							sustituir, actualizar, renovar, impedir o restringir el acceso,
							interrumpir, bloquear, suspender temporalmente o cancelar con
							carácter definitivo cualquier servicio, suministro de información
							o cualquier otro contenido, ya sea con relación a un usuario
							concreto o en general. Salvo que se establezca expresamente lo
							contrario en cada caso, la Empresa no interviene, participa, ni
							asume garantía alguna con relación a los servicios o productos
							ofrecidos por terceros proveedores que, en su caso, sean
							accesibles mediante hiperenlaces o marcos publicitarios. La
							Empresa se reserva el derecho a modificar, suprimir, actualizar,
							renovar, impedir o restringir el acceso, interrumpir, bloquear,
							suspender temporalmente o cancelar definitivamente cualquier
							servicio, fuente de información o cualquier contenido, con
							respecto a un usuario específico o en general, en particular
							cuando sea notificado por una tercera parte de carácter judicial
							o administrativa o por otra que denuncie cualquier actual o
							potencial incumplimiento de los derechos de terceros. Cualquier
							potencial incumplimiento debe ser notificado <a
								href="mailto:info@tcertifica.com?Subject=Reporte de Incumplimiento legal"
								class="button">legal@tcertifica.com</a>. Salvo que se establezca
							expresamente lo contrario en cada caso, la Empresa no interviene,
							participa, ni asume garantía alguna con relación a los servicios
							o productos ofrecidos por terceros proveedores que, en su caso,
							sean accesibles mediante hiperenlaces o marcos publicitarios.
						</p>
						<h2>E. Seguridad</h2>
						<p>
							El marco de publicidad del programa puede albergar contenidos
							publicitarios o estar patrocinado. Los anunciantes y
							patrocinadores son los únicos responsables de asegurarse que el
							material remitido para su inclusión en el programa cumple con las
							leyes que en cada caso puedan ser de aplicación. la Empresa no
							será responsable de cualquier error, inexactitud o irregularidad
							que puedan contener los contenidos publicitarios o de los
							patrocinadores. En todo caso, para interponer cualquier
							reclamación relacionada con los contenidos publicitarios
							insertados en este programa pueden dirigirse a la siguiente
							dirección de correo electrónico: <a
								href="mailto:info@tcertifica.com?Subject=Reporte de Incumplimiento legal"
								class="button">legal@tcertifica.com</a>.
						</p>
						<h2>F. Derecho</h2>
						<p>Las presentes condiciones se rigen por la normativa
							Mexicana vigente. Para cualquier tipo de controversia derivada de
							la utilización de los servicios ofrecidos o de los contenidos
							propios del programa, las partes, con la aceptación de estas
							Condiciones, se someterán a los Tribunales y Juzgados de los
							Estados Unidos Mexicanos.</p>
						<p>© Tsándu Software Development 2012. Todos los derechos
							reservados.</p>
						<p>1 Enero del 2013</p>
					</div>
				</div>
				</section>

				<section id="privacyPolicy" style="display:none;"> <header
					id="header" class="row">
				<div class="twelve columns">

					<a href="#"><h2>Tcertifica políticas de privacidad</h2></a>

				</div>
				</header>
				<div class="row">
					<div class="twelve columns">

						<p>Tsandu Software Development(en adelante "la Empresa") a
							continuación establece las condiciones, cláusulas o advertencias
							específicas sobre privacidad y protección de datos de carácter
							personal para las áreas, lugares o formularios de registro a
							través de los cuales el usuario proporcione información o
							solicite información, por medio de Tcertifica (en adelante "el
							programa")</p>
						<h3>a) Confidencialidad</h3>
						<p>El usuario, a través de las distintas áreas que forman
							parte del programa puede visitar, obtener información, manejar
							una serie de aplicativos o herramientas, dirigir solicitudes o
							comunicaciones o contratar productos o servicios. Cuantos datos
							pudieran ser facilitados por parte de los usuarios serán tratados
							con absoluta confidencialidad, si bien bajo las condiciones que
							seguidamente se dirán. Tanto la entidad responsable de los
							ficheros como quienes intervengan en cualquier fase del
							tratamiento y las entidades a quienes les hayan sido comunicados,
							al amparo de la autorización conferida por el usuario, se hallan
							sometidos al más estricto secreto profesional, comprometiéndose
							expresamente a adoptar los niveles de protección y las medidas
							necesarias de índole técnica y organizativa que garanticen la
							seguridad de los datos de carácter personal y eviten su
							alteración, mal uso, pérdida, robo, tratamiento o acceso no
							autorizado, ya a nivel externo como en el marco de la propia
							estructura y personal dependiente, habida cuenta del estado de la
							tecnología, la naturaleza de los datos almacenados y los riesgos
							a que están expuestos, provengan éstos de la acción humana o del
							medio físico o natural. Asimismo se garantiza el tratamiento y
							registro en ficheros, programas, sistemas, equipos, locales y
							centros, que cumplen los requisitos y condiciones de integridad y
							seguridad establecidos en la normativa en cada momento vigente.
							Todo ello y no obstante, el usuario debe ser consciente y se le
							advierte expresamente de que las medidas de seguridad en el
							programa no son inexpugnables.</p>
						<h3>b) Navegación</h3>
						<p>
							La simple navegación a través del programa de la Empresa tiene
							carácter gratuito y no exige el registro previo por parte del
							usuario, si bien presupone la aceptación por parte del usuario de
							las condiciones generales sobre el presente programa. Se advierte
							expresamente al usuario que el programa de la Empresa utiliza
							datos temporales. Dichos datos temporales son pequeños ficheros
							de datos que se generan en el equipo del usuario los cuales se
							asocian únicamente con un usuario. Los datos temporales
							utilizados no pueden leer datos de su memoria interna o externa
							ni leer otros archivos creados por otros proveedores. Los datos
							temporales permiten reconocer a los usuarios únicamente en el
							caso de que se hayan registrado, a fin de que no tengan que
							hacerlo en cada inicio de sesión para acceder a las áreas o
							servicios reservados exclusivamente a ellos. Asimismo facilitan
							información sobre la fecha y hora de la última vez que el usuario
							visitó el programa y los contenidos creados. El usuario tiene la
							posibilidad de configurar su sistema para especificar en que
							medio de almacenamiento desea guardar la información debiendo
							consultar a tal efecto las instrucciones y manuales de su equipo
							para ampliar esta información. La Empresa puede almacenar y hacer
							uso las características del equipo para analizar estadísticas,
							administrar el programa y supervisar su uso de manera general. La
							Empresa asocia la información del equipo con la información
							personalmente. Puedes rechazar el proceso de archivo de datos o
							de la información simplemente presionando el botón "No acepto" de
							la pantalla anterior y esto no permitirá hacer uso del sistema.
							Usando el programa está dando su consentimiento al procesamiento
							de la información proporcionada por Tcertifica de la manera y
							para los propósitos descritos en los
							<button class="button" id="showTermsOfUse">Términos de
								uso</button>
						</p>

						<h3>c) Tratamiento de datos de carácter personal</h3>
						<p>
							Para el caso de que a un usuario se le requiera el registro de
							sus datos personales, a fin de posibilitar el acceso, uso de
							sistema o herramienta facilitados a través del programa,
							solicitud o contratación de algún servicio o producto, o el
							contacto con el usuario, se le informa expresamente de que dichos
							datos, junto con los que en su caso se originen como consecuencia
							de la ejecución del servicio, resultan necesarios para el
							desarrollo de dicho contacto y la gestión de eventuales servicios
							y productos solicitados y que los mismos serán incorporados a los
							ficheros creados a tal efecto por la Empresa. La introducción y
							registro de los datos personales por parte del usuario comportará
							la aceptación y autorización expresa a la Empresa para la
							recogida, incorporación a los respectivos ficheros y el
							tratamiento de dichos datos personales, así como para su
							conservación durante los plazos previstos en las disposiciones
							aplicables, incluida la cesión de sus datos a las organizaciones
							que, en su caso, compren parte de los activos o sucedan
							actualmente a la Empresa, si bien limitada a las finalidades
							detalladas en las presentes condiciones. Ello se entenderá sin
							perjuicio de la oportuna notificación que, en ese supuesto, se le
							haría en relación con dicha cesión. Las solicitudes sobre datos
							personales marcadas con un asterisco (*) son de carácter
							obligatorio y si no son facilitadas no se podrá acceder al
							servicio solicitado. Asimismo, se advierte al usuario de que, el
							registro de los datos personales aportados en el momento de la
							solicitud, suscripción o contratación de productos o servicios, y
							cualquier otro facilitado durante su relación, comportará además
							la aceptación de carácter voluntario por su parte con relación al
							tratamiento de dichos datos personales por la Empresa a fin de
							ser segmentados o categorizados para mantenerle al corriente y
							poder remitirle, incluso por correo electrónico o medio
							equivalente, informaciones, ofertas, promociones o comunicaciones
							comerciales en general, de productos y servicios, elaborar
							perfiles, o para el análisis de propuestas solicitadas por el
							usuario. La autorización del usuario al tratamiento indicado en
							los anteriores apartados tiene carácter voluntario, pudiendo, en
							los términos establecidos en la normativa sobre protección de
							datos en cada momento vigente, revocar la autorización aquí
							concedida para el tratamiento o la cesión de los datos
							personales. Por lo demás, estos datos nunca se comunicarán a
							terceros. La Empresa no vende o cede a terceros listas con datos
							personales, ni de cualquier otro tipo, ni genera ningún tipo de
							ingreso por parte de terceros por los datos recabados desde estas
							páginas. En todo caso, el usuario podrá ejercitar los derechos de
							acceso, rectificación, oposición y cancelación., dirigiéndose por
							escrito a la siguiente dirección de correo:<a class="button"
								href="mailto:info@tcertifica.com?Subject=Información sobre Tsándu Software Development y Tcertifica">privacidad@tcertifica.com</a>
							Tsandu Software Development. Finalmente, se advierte al usuario
							que las interfaces del programa pueden facilitar el acceso
							mediante enlaces (links) a distintos sitios web correspondientes
							a entidades, compañías, instituciones u organizaciones ajenas a
							la Empresa. La Empresa no es parte, ni se responsabiliza, del
							posible tratamiento de datos que, en su caso, puedan hacer dichos
							sitios webs.
						</p>
						<p>Enero del 2013</p>
					</div>
				</div>
				</section>

				<section id="step1" style="display:none;">

				<div class="row">
					<div class="twelve columns">
						<h1>Configuración inicial</h1>
						<h4 class="subheader">Paso 1. - Creación de cuentas.</h4>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<div class="panel">
							<label for="radio4"><input name="radio2" type="radio"
								id="radio4" style="display: none;"><span
								class="custom radio"></span> <a href="#"><b>ADMINISTRADOR</b></a></label>

							<dl>
								<dt>
									<b></b>
								</dt>
								<dd>Selecciona esta opción si tu realizaras las actividades
									de verificación y administración en la huerta.</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<div class="panel radius">
							<label for="radio4"><input name="radio2" type="radio"
								id="radio4" style="display: none;"><span
								class="custom radio"></span> <a href="#"><b>ADMINISTRADOR
										Y VERIFICADOR</b></a></label>

							<dl>
								<dt>
									<b></b>
								</dt>
								<dd>Seleccione esta opción si un colaborador tuyo realizará
									las actividades de verificación y tu las actividades
									administrativas en la huerta.</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<button type="button" class="button" id="backToStartWizard">Atrás</button>
					</div>
					<div class="six columns">
						<button type="button" class="button right" id="registerAccounts">Siguiente</button>
					</div>
				</div>
				</section>
				<section id="step2" style="display:none;">
				<div class="row">
					<div class="twelve columns">
						<h1>Paso 2</h1>
						<h4 class="subheader">Registro de cuentas.</h4>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<p>Llena los campos de texto con la información que se te
							pide.</p>
					</div>
				</div>

				<div class="row">
					<div class="six columns">

						<fieldset>
							<legend>ADMINISTRADOR</legend>

							<label for="nameUser">Nombre(s):</label> <input type="text"
								name="nameUser" id="adminName" /> <label for="lastNameUser">Apellidos:</label>
							<input type="text" name="lastNameUser" id="adminLastName" /> <label
								for="emailUser">Correo:</label> <input type="text"
								name="mailUser" id="adminEmail" /> <label for="passwordUser">Contraseña:</label>
							<input type="password" name="passwordUser" id="adminPassword" />
							<label for="repitPasswordUser">Repita contraseña:</label> <input
								type="password" name="repitPasswordUser"
								id="adminRepeatPassword" />

						</fieldset>
						<!-- 
							<form id="adminForm" method="post" action=""
								onsubmit="return myForm.Apply();">-->

					</div>
					<div class="six columns">
						<fieldset>
							<legend>VERIFICADOR</legend>
							<label for="nameUser">Nombre(s):</label> <input type="text"
								name="nameUser" id="checkerName" /> <label for="lastNameUser">
								Apellidos:</label> <input type="text" name="lastNameUser"
								id="checkerlastName" /> <label for="emailUser"> Correo:</label>
							<input type="text" name="emailUser" id="checkerEmail" /> <label
								for="passwordUser">Contraseña:</label> <input type="password"
								name="passwordUser" id="checkerPassword" /> <label
								for="repitPasswordUser">Repita contraseña:</label> <input
								type="password" name="repitPasswordUser"
								id="checkerRepeatPassword" />
						</fieldset>
					</div>
				</div>


				<div class="row">
					<div class="twelve columns">
						<button type="button" class="button" id="backToRegisterAccounts">Atrás</button>
						<button type="button" class="button right" id="ready">Siguiente</button>
					</div>
				</div>

				</section>
				<section id="step3" style="display:none;">
				<div class="row">
					<div class="twelve columns">
						<h3>¡Listo!</h3>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<p>Ahora puedes accesar al sistema con los datos registrados.</p>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns">
						<button type="button" class="button right" id="startSession">Iniciar
							sesión</button>
					</div>
				</div>
				</section>
			</div>
		</div>
	</form>
</body>


<script type="text/javascript" charset="utf-8"
								src="../../js/core/global.functions.js"></script>

							<script type="text/javascript" charset="utf-8"
								src="../../js/core/global.variables.js"></script>

<script type="text/javascript" charset="utf-8"
								src="../../js/views/initial_configuration/index.functions.js"></script>

<script type="text/javascript" charset="utf-8"
								src="../../js/views/initial_configuration/index.bind.js"></script>

<script type="text/javascript" charset="utf-8"
								src="../../js/views/initial_configuration/index.init.js"></script>


						</html>