<br />
<br />
<br />
<h1>Código de Vendedor</h1>
<div id="divForm-Group">
  <label class="control-label" for="license">Licencia:</label>
  <input type="number" class="form-control" id="license" placeholder="xxxxxx-xxx-xxx-xxxxx-xxxxxxxxx" value="">
  <span id="icon"></span>
</div>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/license.init.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/license.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/license.bind.js"></script>