
<header id="header" class="row">
	<div class="span12">
		<h2>
			<a href="#">Política de privacidad</a>
		</h2>
	</div>
</header>
<div class="row">
	<div class="span12">
		<p>Tsandu Software Development(en adelante "la Empresa") a
			continuación establece las condiciones, cláusulas o advertencias
			específicas sobre privacidad y protección de datos de carácter
			personal para las áreas, lugares o formularios de registro a través
			de los cuales el usuario proporcione información o solicite
			información, por medio de Tcertifica (en adelante "el programa")</p>
		<h3>a) Confidencialidad</h3>
		<p>El usuario, a través de las distintas áreas que forman parte
			del programa puede visitar, obtener información, manejar una serie de
			aplicativos o herramientas, dirigir solicitudes o comunicaciones o
			contratar productos o servicios. Cuantos datos pudieran ser
			facilitados por parte de los usuarios serán tratados con absoluta
			confidencialidad, si bien bajo las condiciones que seguidamente se
			dirán. Tanto la entidad responsable de los ficheros como quienes
			intervengan en cualquier fase del tratamiento y las entidades a
			quienes les hayan sido comunicados, al amparo de la autorización
			conferida por el usuario, se hallan sometidos al más estricto secreto
			profesional, comprometiéndose expresamente a adoptar los niveles de
			protección y las medidas necesarias de índole técnica y organizativa
			que garanticen la seguridad de los datos de carácter personal y
			eviten su alteración, mal uso, pérdida, robo, tratamiento o acceso no
			autorizado, ya a nivel externo como en el marco de la propia
			estructura y personal dependiente, habida cuenta del estado de la
			tecnología, la naturaleza de los datos almacenados y los riesgos a
			que están expuestos, provengan éstos de la acción humana o del medio
			físico o natural. Asimismo se garantiza el tratamiento y registro en
			ficheros, programas, sistemas, equipos, locales y centros, que
			cumplen los requisitos y condiciones de integridad y seguridad
			establecidos en la normativa en cada momento vigente. Todo ello y no
			obstante, el usuario debe ser consciente y se le advierte
			expresamente de que las medidas de seguridad en el programa no son
			inexpugnables.</p>
		<h3>b) Navegación</h3>
		<p>
			La simple navegación a través del programa de la Empresa tiene
			carácter gratuito y no exige el registro previo por parte del
			usuario, si bien presupone la aceptación por parte del usuario de las
			condiciones generales sobre el presente programa. Se advierte
			expresamente al usuario que el programa de la Empresa utiliza datos
			temporales. Dichos datos temporales son pequeños ficheros de datos
			que se generan en el equipo del usuario los cuales se asocian
			únicamente con un usuario. Los datos temporales utilizados no pueden
			leer datos de su memoria interna o externa ni leer otros archivos
			creados por otros proveedores. Los datos temporales permiten
			reconocer a los usuarios únicamente en el caso de que se hayan
			registrado, a fin de que no tengan que hacerlo en cada inicio de
			sesión para acceder a las áreas o servicios reservados exclusivamente
			a ellos. Asimismo facilitan información sobre la fecha y hora de la
			última vez que el usuario visitó el programa y los contenidos
			creados. El usuario tiene la posibilidad de configurar su sistema
			para especificar en que medio de almacenamiento desea guardar la
			información debiendo consultar a tal efecto las instrucciones y
			manuales de su equipo para ampliar esta información. La Empresa puede
			almacenar y hacer uso las caracteristicas del equipo para analizar
			estadísticas, administrar el programa y supervisar su uso de manera
			general. La Empresa asocia la información del equipo con la
			información personalmente. Puedes rechazar el proceso de archivo de
			datos o de la información simplemente presionando el boton "No
			acepto" de la pantalla anterior y esto no permitira hacer uso del
			sistema. Usando el programa está dando su consentimiento al
			procesamiento de la información proporcionada por Tcertifica de la
			manera y para los propósitos descritos en los
			<button class="button" id="showTermsOfUse">Terminos de uso</button>
		</p>

		<h3>c) Tratamiento de datos de carácter personal</h3>
		<p>
			Para el caso de que a un usuario se le requiera el registro de sus
			datos personales, a fin de posibilitar el acceso, uso de sistema o
			herramienta facilitados a través del programa, solicitud o
			contratación de algún servicio o producto, o el contacto con el
			usuario, se le informa expresamente de que dichos datos, junto con
			los que en su caso se originen como consecuencia de la ejecución del
			servicio, resultan necesarios para el desarrollo de dicho contacto y
			la gestión de eventuales servicios y productos solicitados y que los
			mismos serán incorporados a los ficheros creados a tal efecto por la
			Empresa. La introducción y registro de los datos personales por parte
			del usuario comportará la aceptación y autorización expresa a la
			Empresa para la recogida, incorporación a los respectivos ficheros y
			el tratamiento de dichos datos personales, así como para su
			conservación durante los plazos previstos en las disposiciones
			aplicables, incluida la cesión de sus datos a las organizaciones que,
			en su caso, compren parte de los activos o sucedan actualmente a la
			Empresa, si bien limitada a las finalidades detalladas en las
			presentes condiciones. Ello se entenderá sin perjuicio de la oportuna
			notificación que, en ese supuesto, se le haría en relación con dicha
			cesión. Las solicitudes sobre datos personales marcadas con un
			asterisco (*) son de carácter obligatorio y si no son facilitadas no
			se podrá acceder al servicio solicitado. Asimismo, se advierte al
			usuario de que, el registro de los datos personales aportados en el
			momento de la solicitud, suscripción o contratación de productos o
			servicios, y cualquier otro facilitado durante su relación,
			comportará además la aceptación de carácter voluntario por su parte
			con relación al tratamiento de dichos datos personales por la Empresa
			a fin de ser segmentados o categorizados para mantenerle al corriente
			y poder remitirle, incluso por correo electrónico o medio
			equivalente, informaciones, ofertas, promociones o comunicaciones
			comerciales en general, de productos y servicios, elaborar perfiles,
			o para el análisis de propuestas solicitadas por el usuario. La
			autorización del usuario al tratamiento indicado en los anteriores
			apartados tiene carácter voluntario, pudiendo, en los términos
			establecidos en la normativa sobre protección de datos en cada
			momento vigente, revocar la autorización aquí concedida para el
			tratamiento o la cesión de los datos personales. Por lo demás, estos
			datos nunca se comunicarán a terceros. La Empresa no vende o cede a
			terceros listas con datos personales, ni de cualquier otro tipo, ni
			genera ningún tipo de ingreso por parte de terceros por los datos
			recabados desde estas páginas. En todo caso, el usuario podrá
			ejercitar los derechos de acceso, rectificación, oposición y
			cancelación., dirigiéndose por escrito a la siguiente dirección de
			correo:<a class="button"
				href="mailto:info@tcertifica.com?Subject=Información sobre Tsándu Software Development y Tcertifica">privacidad@tcertifica.com</a>
			Tsandu Software Development. Finalmente, se advierte al usuario que
			las interfaces del programa pueden facilitar el acceso mediante
			enlaces (links) a distintos sitios web correspondientes a entidades,
			compañías, instituciones u organizaciones ajenas a la Empresa. La
			Empresa no es parte, ni se responsabiliza, del posible tratamiento de
			datos que, en su caso, puedan hacer dichos sitios webs.
		</p>
		<p>Enero del 2013</p>
	</div>
</div>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/privacy_policy.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/privacy_policy.init.js"></script>
