<div class="row">
	<div class="span12">
		<h3>¡Listo!</h3>
		<h5>
			Antes de accesar al sistema, <b>anota tus datos en una parte
				segura en caso de que los olvides.</b>
		</h5>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Correo electrónico</th>
			<th>Contraseña</th>
			<th>Rol</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td id="adminName"></td>
			<td id="adminEmail"></td>
			<td id="adminPassword"></td>
			<td id="adminRole"></td>
		</tr>
		<tr id="checkerDataPanel" style="display: none;">
			<td>2</td>
			<td id="checkerName"></td>
			<td id="checkerEmail"></td>
			<td id="checkerPassword"></td>
			<td id="checkerRole"></td>
		</tr>
	</tbody>
</table>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/ready.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/initial_configuration/ready.init.js"></script>