<div class="page-header">
	<h2>Registros de verificación</h2>
	<div style="text-align: center; background-color: #3a87ad;" id="Advice"><b></b></div>
	<ul class="nav nav-tabs nav-stacked">
	<!-- <div id="User"> -->	
	<li><a href="#" id="products"><i
			class="icon-chevron-right" DISABLED></i>REG-001: INVENTARIO DE PRODUCTOS PLAGUICIDAS Y/O FERTILIZANTES</a></li>
	<li><a href="#" id="services" DISABLED><i
			class="icon-chevron-right"></i>REG-002: REGISTRO DE SERVICIOS</a></li>
	<li><a href="#" id="equippment" DISABLED><i
			class="icon-chevron-right" DISABLED></i>REG-003: MANTENIMIENTO Y/O ADQUISICIÓN DE MAQUINARIA E IMPLEMENTOS AGRICOLA</a></li>
	<li><a href="#" id="disinfectants" DISABLED><i
			class="icon-chevron-right" disabled></i>REG-004: REPARACIÓN DE SUSTANCIAS DESINFECTANTES</a></li>
	<li><a href="#" id="clean" ><i
			class="icon-chevron-right"></i>REG-005: VERIFICACIÓN QUINCENAL DE LAS BUENAS PRÁCTICAS DE SEGURIDAD E HIGIENE EN LA UNIDAD DE PRODUCCIÓN</a></li>
	<li><a href="#" id="pesticides" ><i
			class="icon-chevron-right"></i>REG-006: APLICACIÓN DE PLAGUICIDAS</a></li>
	<li><a href="#" id="traps" ><i
			class="icon-chevron-right"></i>REG-007: VERIFICACIÓN SEMANAL DE TRAMPAS PARA ROEDORES EN EL HUERTO</a></li>
	<li><a href="#" id="cleanHeands" ><i
			class="icon-chevron-right" disabled></i>REG-008: REGISTRO DE LAVADO DE MANOS EN LA UNIDAD DE PRODUCCIÓN</a></li>
	<li><a href="#" id="harvest" ><i
			class="icon-chevron-right" disabled></i>REG-009: TRAZABILIDAD DEL PRODUCTO COSECHADO</a></li>
	<li><a href="#" id="equipment" ><i
			class="icon-chevron-right"></i>REG-010: HIGIENE DE INSTALACIONES, HERRAMIENTAS, MAQUINARIA, EPP E IMPLEMENTOS</a></li>
	<li><a href="#" id="goodPractices" ><i
			class="icon-chevron-right"></i>REG-011: VERIFICACIÓN DEL CUMPLIMIENTO DE  LAS BUENAS PRÁCTICAS DE COSECHA</a></li>
	<li><a href="#" id="training" ><i	
			class="icon-chevron-right" disabled></i>REG-012: CAPACITACIÓN Y DESARROLLO DE HABILIDADES DEL PERSONAL DE CAMPO</a></li>
	<li><a href="#" id="production" ><i	
			class="icon-chevron-right" ></i>REG-013: ACCIONES CORRECTIVAS EN LA UNIDAD DE PRODUCCIÓN</a></li>
	<li><a href="#" id="fertilizer" ><i	
			class="icon-chevron-right" disabled></i>REG-014: APLICACIÓN DE ABONOS ORGANICOS Y/O FETILIZANTES QUÍMICOS</a></li>
	<li><a href="#" id="calibration" ><i	
			class="icon-chevron-right" disabled></i>REG-015: CALIBRACIÓN DE EQUIPOS DE ASPERSION </a></li>
	<li><a href="#" id="water" ><i	
			class="icon-chevron-right" disabled></i>REG-023: ACONDICIONAMIENTO DE AGUA PARA USO HUMANO</a></li>

</ul>
</div>


<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/safety/index.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/safety/index.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/safety/index.init.js"></script>
	
