<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2>Configuración</h2>
			<p>Aquí puedes cambiar la configuración de usuario</p>
		</div>
		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="#" id="showTermsOfUse"><i class="icon-chevron-right"></i>1.- Términos de uso</a>
			</li>
			<li>
				<a href="#" id="showPrivacyPolicy"><i class="icon-chevron-right"></i>2.- Políticas de privacidad</a>
			</li>
		</ul>
	</div>
	<br />
	<h2>Clave de Usuario Registrado</h2>	
	<table with="100%">
		<thead>
			<tr>
				<th></th>
				<th>Registrado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="85%">
					<input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" class="span3" id="guidUser">
					<button class="btn btn-success" id="confirm">Confirmar</button>
				</td>
				<td width="15%" class="pagination-centered">					
						<button id="backRound"><i id="icon"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>


<script type="text/javascript" charset="utf-8"
	src="../../js/views/configuration/index.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/configuration/index.bind.js"></script>

<script type="text/javascript" charset="utf-8"
	src="../../js/views/configuration/index.init.js"></script>