<h3>¿Desea una huerta más?</h3>
<p>Actualmente le quedan <b id="numberOrchards"></b> de <b>5</b> disponibles, es necesario poner el nombre de la huerta para indentificarla posteriormente.

<input type="text" id="newName"> <a href="#" id="addOrchard" class="btn btn-success">Agregar</a></p> 

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orchards/add.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orchards/add.bind.js"></script>