<h3>Por favor lea aviso importante</h3>

<p>Un aviso imporante antes de continuar...<br />
Es de suma importancia entender que una vez que se borre una huerta, <strong> TODOS LOS REGISTROS, LOS MASTERS, LAS FOTOS, SE BORRARAN  Y NO PODRAN RECUPERARSE </strong>
por lo cual debe cerciorarse de esto antes de presionar "Confirmar".
</p>
<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orchards/delete.functions.js"></script>

<script type="text/javascript" charset="utf-8"
	src="file:///android_asset/www/js/views/orchards/delete.init.js"></script>
